<?xml version="1.0"?>

<model>
  <name>shelter_world</name>
  <version>1.0</version>
  <!--<sdf version="1.4">model-1_4.sdf</sdf>-->
  <sdf version="1.5">model.sdf</sdf>  

  <author>
    <name>ChoKH</name>
    <email>candy3465@naver.com</email>
  </author>

  <description>
    World of shelter with ROS symbol
  </description>
</model>
